.container1 {
    display: flex;
    height: 56px;
    width: 100%;
    background-color: #0f0f0f;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
  }
  .search-input {
    padding-left: 16px;
    padding-right: 14px;
    padding: 10px;
    border: 2px solid #222222;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
    width: 515.2px;
    height: 38.4;
    background-color: #121212;
    color: white;
  }
  .search-container {
    display: flex;
    align-items: center;
  }
  .search-button-container {
    border: 2px solid #222222;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 36.4;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 60.4px;
    background-color: #222222;
  }
  
  .search-button {
    color: white;
    padding: 10px;
    border: 1px solid #222222;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: transparent;
    margin-left: 10px;
  }
  .mic-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0f0f0f;
    margin: 8px;
    position: relative;
  }


  