<app-navbar></app-navbar>
<!-- Add this to your component template -->

<div style="display: flex;flex-direction: row;">
<div class="sidebar">
    <h2 style="color: #919191;font-size: 18px;margin-top: 56px;">Settings</h2>
    <ul>
      <li>Account</li>
      <li>Notification</li>
      <li>Playback and Performance</li>
      <li>Downloads</li>
      <li>Privacy</li>
      <li>Connected Apps</li>
      <li>Billing and Payments</li>
      <li>Advance Settings</li>
    </ul>
  </div>

  <div style="margin-left: 115px; margin-top: 100px;font-family: sans-serif;font-size: 16px;">
    <app-account></app-account>
  </div>
</div>
