/* Add this to your component styles or global styles */

.sidebar {
    width: 213.6px;
    background-color: #0F0F0F;
    color: #fff;
    padding: 20px;
    font-family: sans-serif;
    
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #3F3F3F;
    border-radius: 12px;
  }
  