<div
  class="categories"
  style="
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #0f0f0f;
  "
>
  <button class="rounded-button" style="color: black; background-color: white">
    All
  </button>
  <button class="rounded-button">Music</button>
  <button class="rounded-button">Gaming</button>
  <button class="rounded-button">Mixes</button>
  <button class="rounded-button">Auditions</button>
  <button class="rounded-button">Reaction</button>
  <button class="rounded-button">News India</button>
  <button class="rounded-button">Learn CSS</button>
  <button class="rounded-button">Film</button>
  <button class="rounded-button">Trailers</button>
  <button class="rounded-button">Live News</button>
  <button class="rounded-button">WWE Raw</button>
  <button class="rounded-button">Podcasts Live</button>
  <div class="mic-button">
    <span class="mic-icon"
      ><span
        style="
          color: white;
          font-size: 24px;
          padding: 8px;
          background-color: #0f0f0f;
        "
        class="material-icons"
        ><span class="material-symbols-outlined"> navigate_next </span></span
      ></span
    >
  </div>
</div>
