<div class="main-content">
  <div  *ngFor="let i of feed" style="margin-right: auto;">
    <div class="video-container">
      <img class="video-images" src="{{ i.vdo_src }}" alt="Video Thumbnail" />
    </div>

    <div class="info-container">
      <div style="flex-direction: row; display: flex">
        <img class="channel-logo" src="{{ i.img_src }}" alt="Channel Logo" />
        <div class="video-title">
          {{ i.vdo_title }}
        </div>
      </div>

      <div class="channel-name">{{ i.channel_name }}</div>
      <div class="views-time">{{ i.view }} &#8226; {{ i.time }}</div>
    </div>
  </div>
</div>
