.container2 {
    display: flex;
  }
  .side-menu {
    display: flex;
    height: auto;
    width: 240px;
    background-color: #0f0f0f;
    overflow-x: auto;
    flex-direction: column;
    height: 650px;
    margin-top: 56px;
    position: fixed;
  }
  
  .side-menu::-webkit-scrollbar {
    width: 12px;
  }
  
  .side-menu::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .side-menu:hover::-webkit-scrollbar-thumb {
    background-color: gray;
  }
  
  .side-menu {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  .side-menu:hover {
    scrollbar-color: gray transparent;
  }
  
  .main-content {
    padding-top: 24px;
    background-color: #0f0f0f;
    width: 1298px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .video-container {
    max-width: 400px;
    margin-bottom: 5px;
    background-color: #0f0f0f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: 225px;
  }
  
  .info-container {
    max-width: 400px;
    background-color: #0f0f0f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: 95px;
    padding: 5px;
  }
  
  .channel-logo {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .video-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    font-family: sans-serif;
  }
  
  .channel-name {
    color: #aaaaaa;
    font-size: 14px;
    margin-bottom: 3px;
    font-family: sans-serif;
    margin-left: 55px;
  }
  
  .views-time {
    color: #aaaaaa;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 55px;
  }
  .video-images {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  