<app-navbar></app-navbar>

<div class="container2">
  <div class="side-menu" style="flex-direction: column">
    <app-side-menu></app-side-menu>
  </div>

  <div>
    <button
      *ngFor="let subscription of Subscriptions"
      (click)="filterBySubscription(subscription)"
    >
      {{ subscription }}
    </button>
  </div>

  <div class="main-content">
    <div
      style="width: 100%; margin: 20px; margin-top: auto; margin-bottom: 5px"
    >
      <h4 style="color: white; font-size: 20px; font-family: sans-serif">
        Latest
      </h4>
    </div>
    <div *ngFor="let i of filteredFeed || feedData" style="margin-left: 24px">
      <div class="video-container">
        <img class="video-images" src="{{ i.vdo_src }}" alt="Video Thumbnail" />
      </div>

      <div class="info-container">
        <div style="flex-direction: row; display: flex">
          <img class="channel-logo" src="{{ i.img_src }}" alt="Channel Logo" />
          <div class="video-title">
            {{ i.vdo_title }}
          </div>
        </div>

        <div class="channel-name">{{ i.channel_name }}</div>
        <div class="views-time">{{ i.view }} &#8226; {{ i.time }}</div>
      </div>
    </div>
  </div>
</div>
