.settings-menu {
    z-index: 100;
    position: absolute;
    width: 300px;
    max-width: 300px;
    background: #282828;
    border-radius: 10px;
    overflow: hidden;
    top: 100%;
    left: -10%; 
    transform: translateX(-100%); 
    max-height: 0;
    transition: max-height 0.3s, transform 0.3s;
    top:0;
  }
  
.settings-menu-height {
  max-height: fit-content;
}

.user-profile a {
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
  font-family: sans-serif;
}
.settings-menu-inner {
  padding: 20px;
}

.settings-menu hr {
    border: none;
    border-top: 1px solid #535353;
    margin-top: 10px;
    margin: 0 -20px;
    width: 300px;
}

.settings-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.settings-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
}

.profile{
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-right: 20px;
}

.user-profile
{
  display: flex;
  flex-direction: row;
}