<div class="settings-menu">
  <div class="settings-menu-inner">
    <div class="user-profile">
      <img class="profile" src={{user.image_url}}/>
      <div style="margin-bottom: 8px;margin-top: -20px;">
        <p style="color: white;">{{user.name}}</p>
        <a>View your Channel</a>
      </div>
    </div>
    <hr/>
    <div class="settings-links">
      <i class="fa-brands fa-google" style="color: white;margin-right:10px;font-size: large;"></i>
      <a href="#"
        >Google Account<img
          src="https://i.postimg.cc/RF1dBMWr/arrow.png"
          width="10px"
      /></a>
    </div>

    <div class="settings-links">
      <i class="fa-solid fa-arrow-right-from-bracket" style="color: white;margin-right:10px;font-size: large;"></i>
      <a href="#"
        >Sign Out
        <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"
      /></a>
    </div>
    <hr />
    <div class="settings-links">
      <i class="fa-solid fa-globe" style="color: white;margin-right:10px;font-size: large;"></i>
      <a href="#"
        >Location
        <img src="https://i.postimg.cc/RF1dBMWr/arrow.png" width="10px"
      /></a>
    </div>
    <hr />
    <div class="settings-links">
      <i class="fa-solid fa-gear" style="color: white;margin-right:10px;font-size: large;"></i>
      <a routerLink="setting">Settings</a>
    </div>
  </div>
</div>
