<div style="color: white">Account</div>

<div class="account-body">
  <div style="display: flex; align-items: flex-start">
    <p
      style="
        font-size: x-large;
        margin-top: 40px;
        margin-right: 20px;
        margin-bottom: 0;
      "
    >
      Choose how you appear and what you see on YouTube
      <span
        style="
          font-size: 15px;
          color: #aaaaaa;
          display: block;
          margin-top: 20px;
        "
      >
        Signed in as mayureshngorantiwar&commat;gmail.com
      </span>
    </p>
    <img
      src="./assets/account.svg"
      style="height: 180px; width: 180px; margin-left: 228px"
    />
  </div>
  <hr />

  <div style="display: flex; align-items: flex-start; flex-direction: column">
    <div>
      <p
        style="
          font-size: large;
          margin-top: 30px;
          margin-right: 20px;
          margin-bottom: 0;
          font-weight: bold;
        "
      >
        Your YouTube Channel
        <span
          style="
            font-size: 12px;
            color: #aaaaaa;
            display: block;
            margin-top: 20px;
          "
        >
          This is your public presence on YouTube. You need a channel to upload
          your own videos, comment on videos, or create playlists.
        </span>
      </p>
    </div>

    <div style="display: flex; align-items: center">
      <p style="font-size: 14px; font-weight: bold">Your Channel</p>

      <div
        style="
          display: flex;
          align-items: center;
          margin-left: 120px;
          margin-top: 25px;
        "
      >
        <img
          style="height: 50px; width: 50px; border-radius: 50%"
          src="{{ user.image_url }}"
          alt="User Image"
        />
        <p style="margin-left: 10px">{{ user.name }}</p>
      </div>
    </div>
    <p
      style="
        color: #3291f7;
        font-size: 14px;
        margin-left: 212px;
        font-weight: bold;
      "
    >
      Channel status and features<span
        style="display: block; margin-bottom: 10px"
      ></span>
      Add or manage your channel(s)<span
        style="display: block; margin-bottom: 10px"
      ></span>
      View advanced settings
    </p>
  </div>
  <hr />

  <div style="display: flex; align-items: flex-start; flex-direction: column">
    <div>
      <p
        style="
          font-size: large;
          margin-top: 30px;
          margin-right: 20px;
          margin-bottom: 0;
          font-weight: bold;
        "
      >
        Your account
        <span
          style="
            font-size: 12px;
            color: #aaaaaa;
            display: block;
            margin-top: 20px;
          "
        >
          You sign in to YouTube with your Google Account
        </span>
      </p>
    </div>

    <div style="display: flex; align-items: center">
      <p style="font-size: 14px; font-weight: bold">Google Account</p>

      <div
        style="
          display: flex;
          align-items: center;
          margin-left: 120px;
          margin-top: 25px;
        "
      >
        <div
          style="
            margin-left: 10px;
            color: #3291f7;
            font-size: 14px;
            font-weight: bold;
          "
        >
          View or change your Google Account settings
          <p style="color: #aaaaaa; margin-top: 5px">
            You will be redirected to your Google Account page
          </p>
        </div>
      </div>
    </div>
    <div style="display: flex; align-items: center">
      <p style="font-size: 14px; font-weight: bold">Membership</p>

      <div
        style="
          display: flex;
          align-items: center;
          margin-left: 120px;
          margin-top: 25px;
        "
      >
        <div
          style="
            margin-left: 35px;
            color: #3291f7;
            font-size: 14px;
            font-weight: bold;
          "
        >
          <span style="color: white">No membership</span>
          <span style="color: #aaaaaa; margin-left: 3px; margin-right: 3px"
            >|</span
          >
          <span>Get YouTube Premium</span>
          <p style="color: #aaaaaa; margin-top: 5px">
            YouTube Premium offers uninterrupted music, ad-free videos, and more
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
