<div
  class="container"
>
  <span class="icon"><span class="material-icons">home</span></span>
  <span class="text">Home</span>
</div>

<div class="container">
  <span class="icon"><span class="material-icons">music_note</span></span>
  <span class="text">Shorts</span>
</div>

<div class="container">
  <a routerLink="mysubscription">
  <span class="icon"
    ><span class="material-icons"
      ><span class="material-symbols-outlined"> subscriptions</span></span
    ></span
  >
  <span class="text">Subscriptions</span>
  </a>
</div>

<hr />

<div class="container" style="margin-left: 15px">
  <span class="text">You</span>
  <span class="icon"><span class="material-icons">chevron_right</span></span>
</div>

<div class="container">
  <span class="icon"><span class="material-icons">account_box</span></span>
  <span class="text">Your channel</span>
</div>

<div class="container">
  <span class="icon"><span class="material-icons">history</span></span>
  <span class="text">History</span>
</div>

<div class="container">
  <span class="icon"><span class="material-icons">slideshow</span></span>
  <span class="text">Your videos</span>
</div>

<div class="container">
  <span class="icon"><span class="material-icons">schedule</span></span>
  <span class="text">Watch later</span>
</div>

<div class="container">
  <span class="icon"><span class="material-icons">expand_more</span></span>
  <span class="text">Show more</span>
</div>

<hr />

<div style="margin-left: 12px">
  <div class="container">
    <span class="text" style="font-size: medium">Subscriptions</span>
  </div>

  <div class="container">
    <img class="logo" src="./assets/images/aaj.png" />
    <span class="text">Aaj Tak</span>
  </div>

  <div class="container">
    <img class="logo" src="./assets/images/law.webp" />
    <span class="text">Law&Crime Net...</span>
  </div>

  <div class="container">
    <img class="logo" src="./assets/images/br.webp" />
    <span class="text">BRIGHT SIDE</span>
  </div>

  <div class="container">
    <img class="logo" src="./assets/images/5.jpg" />
    <span class="text">5-Minute Crafts</span>
  </div>

  <div class="container">
    <img class="logo" src="./assets/images/nas.png" />
    <span class="text">NASA</span>
  </div>

  <div class="container">
    <span class="icon"><span class="material-icons">schedule</span></span>
    <span class="text">CarryisLive</span>
  </div>

  <div class="container">
    <span class="icon"><span class="material-icons">schedule</span></span>
    <span class="text">Davidsbeenhere</span>
  </div>

  <div class="container">
    <span class="icon"><span class="material-icons">expand_more</span></span>
    <span class="text">Show 172 more</span>
  </div>
</div>
<hr />

<div class="container">
  <span class="text">Explore</span>
</div>

